// /* Welcome to Compass.
//  * In this file you should write your main styles. (or centralize your imports)
//  * Import this file using the following HTML or equivalent:
//  * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$text: white;
$body: black;
$lavand: #6578d6;
$lavand-light: #8E9CE1;
$lavand-lightest: #AEB8EA;
$lavand-dark: #4E63D0;

body {
	background-color: $body;
}

div {
	width: 400px;
	height: 175px;
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	background-color: $lavand;
	float: left;
	color: $text;
}

a#welcome {
	float: left;
	text-decoration: none;

	div#welcome {

		h1 {
			position: absolute;
			top: 150px;
			left: 165px;
			padding: 0;
			margin: 0;
		}
	}
}
div#query {
	text-align: center;

	input#title_input {
		width: 200px;
		height: 25px;
		border: none;
		position: relative;
		top: 65px;
		right: 0;
	}

	input[type="submit"] {
		position: relative;
		top: 75px;
		border: none;
		background-color: $lavand-light;
		color: $text;
		padding: 7px;
	}

	input[type="submit"]:hover {
		background-color: $lavand-lightest;
	}
}

div#message {
	height: auto;
}