// /* Welcome to Compass.
//  * In this file you should write your main styles. (or centralize your imports)
//  * Import this file using the following HTML or equivalent:
//  * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$text: #484F55;
$body: #303a4a;
$lavand: #8f96b9;
$lavand-light: #8E9CE1;
$lavand-lightest: #AEB8EA;
$lavand-dark: #4E63D0;
$grey-light: #F0F0F0;
$warning: #ad434d;
$warning-light: #d8646f;
$status-analysis-true: #64b77a;
$status-analysis-false: #ae444d;

body {
	background-color: $body;
}

div {
	float: left;
	width: 400px; height: 175px;
	margin: 0 10px 10px 0;
	background-color: $grey-light;
	color: $text;
	border-radius: 4px;
	box-shadow: 0px 3px 7px 0px rgba(20, 25, 34, 0.8);
        a {text-decoration: none;}
	h2 {
		background-color: $lavand;
		color: $grey-light;
		padding: 10px;
		margin: 0; margin-bottom: 10px;
		border-radius: 4px 4px 0 0;
	}

        p {padding: 7px;}
        ul {
           padding: 7px;
           color:$text;
           list-style: none;
	   margin: 0;      
        }
}

a#welcome {
	float: left;
	text-decoration: none;

	div#welcome {
		background-color: $lavand;
		h1 {
			color: $grey-light;
			position: absolute;
			top: 140px;
			left: 145px;
			padding: 0;
			margin: 0;
		}
	}
}
div#query {
	text-align: center;

	input#title_input {
		width: 200px;
		height: 25px;
		border: 1px solid #aeb9c2;
		border-radius: 2px;
		padding: 5px;
		position: relative;
		top: 20px;
		right: 0;
	}

	input#title_input:focus {
		outline: none;
		border: 1px solid $body;
	}

	input[type="submit"] {
		position: relative;
		top: 30px;
		border: none;
		background-color: $lavand-light;
		color: $grey-light;
		padding: 7px;
	}

	input[type="submit"]:hover {
		background-color: $lavand-lightest;
	}
}

div#results {
	height: auto;
	ul {
		li {
			padding: 5px 0;
		}
		#status-analysis-false {
			color: $status-analysis-false;
		}
		#status-analysis-true {
			color: $status-analysis-true;
		}
	}
}

div#database {
	input[type="submit"] {
		border: none;
		background-color: $warning;
		color: $grey-light;
		padding: 7px;
		margin-left: 10px;
		}

	input[type="submit"]:hover {
		background-color: $warning-light;
	}
}

div#movie_tweets {
    width: 810px;
    height: auto;
}